*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:whitesmoke;
}
#form{
    border:2px solid black;
    margin:20px;
    padding:20px;
    background-color: lightgray !important;
}
.form-control{
    width:30%;
} 
.table1{
    border: 2px solid black;
    height: 300px;
    margin:20px;
    padding: 10px;
    background-color: lightgray !important;
}
#table{
    border: 2px solid black;
}